bin
obj
.DS_Store

iPhoneApp/WcfTestSuite.userprefs

iPhoneApp/WcfTestSuite.userprefs

iPhoneApp/WcfTestSuite.userprefs

iPhoneApp/WcfTestSuite.userprefs

iPhoneApp/WcfTestSuite.userprefs

iPhoneApp/WcfTestSuite/WcfTestSuite.pidb
