<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <httpRuntime maxRequestLength="2147483647" executionTimeout="900" />
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WcfWebApp.Service1"
               behaviorConfiguration="PictureServerBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfWebApp"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="StreamedHttp"
                  contract="WcfWebApp.IService1"/>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="StreamedHttp"
                 transferMode="Streamed"
                 maxReceivedMessageSize="67108864" receiveTimeout="1:1:1" sendTimeout="1:1:1">

          <readerQuotas maxDepth="32" maxArrayLength="67108864"/>
        </binding>

      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PictureServerBehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Verbose,ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\logs\Traces.svclog" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name ="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\e2trace.e2e"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>
